<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel App</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300&family=Lato&family=Montserrat:wght@400;500&family=PT+Sans&family=Tangerine:wght@700&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300&family=Lato&family=Montserrat:wght@400;500&family=PT+Sans&family=Tangerine:wght@700&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div id="head">
            <h1>TRAVEL APP</h1>
        </div>
    </header>
    <div id="app">
        <section id="body">
            <div id="entry-bx">
                <form id="entry">
                    <div class="fields">
                        <label for="destination">DESTINATION</label>
                        <input type="text" name="destination" id="destination" placeholder="Destination..." class="input">
                    </div>
                    <div class="fields">
                        <label for="date">DATE</label>
                        <input type="date" name="date" id="date" onfocus="(this.type='date')" placeholder="Date" class="input">
                    </div>
                    <input type="submit" value="Check" id="sub-btn">
                </form>
            </div>
            <div id="pre-result">
                <div id="result">
                    <div id="details">
                        <p>
                            Your trip to <span id="location"></span> is <span id="distance"></span> away.
                            Expect <span id="weather"></span> on <span id="when"></span>.
                        </p>
                    </div>
                    <div id="forecast">
                        <div class="temp-bx">
                            <div class="temp-hd">High</div>
                            <div id="high"></div>
                        </div>
                        <div id="icon"></div>
                        <div class="temp-bx">
                            <div class="temp-hd">Low</div>
                            <div id="low"></div>
                        </div>
                    </div>
                </div>                
            </div>
        </section>
        <section id="saved">
            <div id="svd-div">
                
            </div>
        </section>
    </div>    
    <footer>
        
    </footer>
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js').then(registration => {
                    console.log('SW registered: ', registration);
                }).catch(registrationError => {
                    console.log('SW registration failed: ', registrationError);
                });
            });
        }
    </script>
</body>
</html>