header {
    grid-area: head;
    display: flex;
    background-color: white;
    background-color: whitesmoke;
    color: black;
    text-align: center;
}

#head {
    height: 100%;
    display: flex;
    font-family: "Abril Fatface",
            sans-serif;
    font-size: 2.5em;
    background-color: white;
    justify-content: center;
    align-items: center;
}