#app {
    grid-area: app;
    display: grid;
    grid-template-areas: 
    "body saved";
    grid-template-columns: 55% 45%;
    grid-template-rows: 100%;
    background-color: whitesmoke;
    padding: 1em;
    border-radius: 20px 20px 20px 20px;
}

#body {
    grid-area: body;
    display: grid;
    grid-template-areas: 
    "form"
    "result";
    grid-template-columns: 100%;
    grid-template-rows: 20% 80%;
    width: 95%;
    height: 100%;
    justify-self: center;
    align-self: center;
}

#entry-bx {
    grid-area: form;
    width: 100%;
    height: 95%;
    display: flex;
    background-color: white;
    border-radius: 20px;
    justify-self: unset;
    justify-content: center;
}

#entry {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fields {
    width: 30%;
    display: flex;
    flex-direction: column;
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
}

.input {
    border: none;
    width: 80%;
    margin-top: 1em;
    border-bottom: 1px solid #26aae1;
    font-family: 'Playfair Display', serif;
    font-size: 1em;
}

.input:focus {
    outline: none;
}

#destination {
    width: 100%;
}

#sub-btn {
    border: none;
    height: 2.5em;
    width: 5em;
    background-color: #26aae1;
    border-radius: 7px;
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 1em;
}

#sub-btn:hover {
    background-color: #26eea1;
    cursor: pointer;
}

#pre-result {
    grid-area: result;
    display: flex;
    background-color:  white;
    border-radius: 20px;
    height: 97%;
    background-image: url('https://cdn.pixabay.com/photo/2020/05/25/17/03/travel-5219496__340.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    justify-content: center;
    align-items: center;
}

#result {
    width: 70%;
    height: 64%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba($color: #111, $alpha: 0.5);
    border-radius: 20px;
    border: 3px solid whitesmoke;
    display: none;
}

#result:hover {
    width: 70.4%;
    height: 64.4%;
    transition: ease 0.4s all;
    cursor: pointer;
}

#details {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    text-align: center;
    color: wheat;
    font-family: 'Playfair Display', serif;
    font-size: 1.5em;
    line-height: 1.5em;
}

#details p {
    max-width: 95%;
}

#forecast {
    display: flex;
    width: 75%;
    color: wheat;
    font-family: 'Playfair Display', serif;
    font-size: 1em;
}

.temp-hd {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.temp {
    font-size: 2.2em;
}

#high span,
#low span {
    line-height: 1.2em;
}

#icon {
    margin-left: 1.5em;
    margin-right: 1.5em;
}

#saved {
    grid-area: saved;
    display: flex;
    background-color: white;
    width: 97%;
    height: auto;
    border-radius: 20px;
    justify-self: unset;
}
